@import '../../scss/variables';

.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    box-sizing: border-box;

    z-index: 1000;

    &:before {
        content: '';
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(17, 17, 17, 0.7);
        z-index: 110;
    }
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    z-index: 1010;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    height: 1rem;
    width: 1rem;
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    background: url('../../images/cross.svg') center no-repeat;
    background-size: contain;
    transition: .3s ease-out;
    cursor: pointer;
    z-index: 2000;

    @media screen and (min-width: $lg) {
        height: 2rem;
        width: 2rem;
        opacity: 0;

        &:hover {
            background: url('../../images/crossGray.svg') center no-repeat;
            opacity: 1;
        }
    }
}

.navigation {
    position: absolute;
    height: 100%;
    width: 50%;
    padding: 0;
    outline: none;
    border: none;
    opacity: 0;
    transition: .3s ease-out;
    cursor: pointer;
    z-index: 1050;

    @media screen and (min-width: $lg) {
        &:hover {
            opacity: 1;
        }
    }

    &Prev {
        top: 0;
        left: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 50%);
    }

    &Next {
        top: 0;
        left: 50%;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 50%);
    }
}

.viewport {
    position: relative;
    display: flex;
    flex: auto;
    margin-bottom: 2rem;

    &:hover + button {
        opacity: 1;
    }
}

.image {
    flex: auto;
    object-fit: contain;
}

.carousel {
    position: relative;
    display: flex;
    height: 6rem;

    &:hover .arrow {
        opacity: 1;
    }

    &Content {
        position: relative;
        display: flex;
        height: 6rem;
    }

    &Item {
        position: relative;
        height: auto;
        max-width: 8rem;
        transition: .3s ease-out;
        cursor: pointer;

        &:not(:last-of-type) {
            margin-right: 1rem;
        }

        &:hover {
            transform: translateY(-.5rem);
        }
    }
}

.arrow {
    position: absolute;
    height: 100%;
    width: 4rem;
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    background-size: contain;
    transition: .3s ease-out;
    cursor: pointer;
    z-index: 1020;

    @media screen and (min-width: $lg) {
        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }

    &Left {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url('../../images/arrowLeft.svg') center no-repeat;

        @media screen and (min-width: $lg) {
            &:hover {
                background: url('../../images/arrowLeft.svg') center no-repeat, rgba(17, 17, 17, 0.7);
            }
        }
    }

    &Right {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url('../../images/arrowRight.svg') center no-repeat;

        @media screen and (min-width: $lg) {
            &:hover {
                background: url('../../images/arrowRight.svg') center no-repeat, rgba(17, 17, 17, 0.7);
            }
        }
    }
}