.item {
    flex: 1 0 21%;
    margin: 0 1rem 2rem 1rem;

    &:hover {
        background-color: #afafaf;
    }
}

.thumbnail {
    display: block;
}

.name {
    display: block;
}

.label {
    display: block;
}