@import '../../scss/variables';

.item {
    cursor: pointer;
}

.thumbnail {
    display: block;
    width: 100%;
    height: 16rem;
    object-fit: cover;
}

.meta {
    padding: 1rem .75rem;
    background-color: $black-2;
    font-family: $main-font;
    color: $white;
}

.name {
    display: block;
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
}

.label {
    display: block;
    color: $gray;
}